<html>
    <meta>
    <head>

    </head>
     <div align="center"><h4 style="text-shadow: 6px 5px 5px red;"><u>@TempData["message"]</u></h4></div>
    <body>
        <form action="/home/index" method="post">
            <div align="center">
        <img align="left" src="/images/leaf.png"  alt="Health Routine checkup" height="500px" width="270px">&nbsp;&nbsp;
        <h1 style="text-shadow: 7px 6px 6px rgb(14, 107, 73)"><u><i>Welcome To HealthCare</i></u></h1>
        <h4>Please login to take benifit of HealthCare service</h4>
        <img src="/images/3dDoc.jpg"  alt="Health Routine checkup" height="200px" width="170px"><br><br>
            USER NAME : <input type="text" name="uname" id="uname" required="true" placeholder="Enter Your User Name" class="btn btn-dark btn-rounded"/><br><br>&nbsp;&nbsp;&nbsp;
            Password  : <input type="password" name="password" id="password" required="true" placeholder="Enter Your Password" class="btn btn-dark btn-rounded"/><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" name="btn" id="btn" class="btn btn-primary btn-rounded" style="text-shadow: 7px 6px 6px black">Login</button>&nbsp;&nbsp;
            <button type="reset" name="btn1" id="btn1" class="btn btn-danger btn-rounded" style="text-shadow: 7px 6px 6px black">Cancel</button><br>
            <h5 align="left" style="text-shadow: 7px 6px 6px rgb(106, 229, 184);color: green;"><i>Think healthy and be healthy</i></h5>
            <h6 align="left" style="text-shadow: 7px 6px 6px rgb(94, 228, 179);color: green;"><i>its thought that makes old not age</i></h6>

        </div>
        </form>
    </body>
</html>